.red {
    background-color: var(--md-custom-color-Blue-team);
}

.blue {
    background-color: var(--md-custom-color-Custom-Color-2);
}

.player {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    display: flex; 
    justify-content: center;
    align-items: center;

    position: absolute; 
    z-index: 9999;
    
}

.number{ 
    color: white;
    user-select: none; /* Standard */
}